<ion-view view-title="{{title}}">
    <ion-content>
    	<div class="myDiv" align="center" heigh>
            <h3 class="aboutUsHeading"><strong>Felda Global Ventures Holdings Berhad Company Overview</strong></h3>
            <p class="p aboutUsInfo">
    Felda Global Ventures Holdings Berhad (FGV) is a Malaysia’s leading global agribusiness and is the world’s largest producer of crude palm oil (CPO). We have operations in more than 10 countries across Asia, North America and Europe. Listed on the Malaysia Stock Exchange since June 2012, our focus spans six core business clusters: Palm Upstream and Downstream, Rubber, Sugar, R&D and Agri-services, Transport, Logistics, Marketing and Others (TLMO).
    Incorporated in Malaysia as a private limited company 2007, FGV initially operated as the commercial arm of Federal Land Development Authority (FELDA ). On 28 June 2012, the company was listed on the main market of Bursa Malaysia Securities Berhad as Felda Global Ventures Holdings Berhad. As at 31 December 2013 our market capitalisation is RM16.6 billion.
    </p>
    <p class="p aboutUsInfo">
    FGV as part of FELDA Group, the world's largest palm oil producer and oil palm plantation operator, based on planted hectares .FGV is the world's largest Crude Palm Oil (CPO) producer and the second largest Malaysian palm oil refiner.
    </p>
    <p class="p aboutUsInfo">
    We are principally engaged in 6 main business clusters namely Palm Upstream, Palm Downstream, Sugar,Rubber, R&D and Agri Services, and Transport, Logistics, Marketing & Others (TLMO).
    </p>
    <p class="p aboutUsInfo">
    With more than 19,000 people in the group from our subsidiaries as well as joint-venture companies and associates, we aspire to be one of the top 10 agri-business conglomerate in the world by 2020.
            </p>
        </div>  
    </ion-content>
</ion-view>